* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
input,
button {
    font-family: 'Nunito Sans', sans-serif;
}

body {
    background-color: #fafbfc;
}

header {
    background-color: blueviolet;
    padding: 10px;
    color: #ffffff;
    text-align: center;
}

main {
    padding: 30px 50px;
}

.card {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 15px;
    border-radius: 5px;
}

.lineInput {
    display: grid;
    margin-bottom: 5px;
}

.lineInput input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
}

button {
    width: 100px;
    border: 0;
    padding: 10px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: bold;
}

.content {
    margin-top: 15px;
}

.content table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    text-align: center;
}

.content table th {
    background-color: #ccc;
}